$color-main: #48E5C2;
$color-secon: #48E5C2;
$color-third: #1f1f1f;
$color-dark: #222222;
$color-ligth: #FFFFFF;


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

i{
    cursor: pointer;
}

.top-bar{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu{



        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }
    }
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    .container {
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        section{
            position: relative;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            scroll-snap-align: start;
            font-size: 50px;

            &:nth-child(1){
                background-color: $color-ligth;
                
            }
            &:nth-child(2){
                background-color: $color-ligth;

            }
            &:nth-child(3){
                background-color: $color-ligth;

            }

            .sidebar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                height: inherit;
                padding: inherit;
                width: 10%;
                position: fixed;
                right: 0%;
                color: $color-dark;
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                }
                
        
                i{
                    font-size: 25px;
                    cursor: pointer;
                }
            }

        }
    }
}

.home-container{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .home-text{

        h1{
            font-size: 3em;
            color: $color-dark;
            font-weight: 500;
            span{
                color: $color-secon;
            }
        }

        h2{
            letter-spacing: 20px;
            font-size: 1em;
            font-weight: 800;
            color: $color-main;
            margin-bottom: 10vh;
            span{
                color: $color-third;
                font-weight: 200;
            }
        }

        p{
            letter-spacing: 2px;
            color: $color-third;
            padding: 0px 25vw;
            width: auto;
            font-size: 14px;
            font-weight: 500;

        }
    }
}


