$color-main: #52DEE5;
$color-secon: #92DCE5;
$color-third: #7C7C7C;
$color-dark: #383D3B;
$color-ligth: #EEE5E9;


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

i{
    cursor: pointer;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    .container {
        width: 100%;
        height: 100%;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        display: flex;

        section{
            position: relative;
            flex: none;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            scroll-snap-align: start;
            font-size: 50px;

            &:nth-child(1){
                background-color: $color-ligth;
                
            }
            &:nth-child(2){
                background-color: $color-ligth;

            }
            &:nth-child(3){
                background-color: $color-ligth;

            }

            .sidebar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                height: inherit;
                padding: inherit;
                width: 10%;
                position: fixed;
                right: 0%;
                color: $color-dark;
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                }
                
        
                i{
                    font-size: 25px;
                    cursor: pointer;
                }
            }

        }
    }
}

.home-container{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .home-text{

        h1{
            font-size: 3em;
            color: $color-dark;

            span{
                color: $color-secon;
            }
        }

        h2{
            letter-spacing: 20px;
            font-size: 1em;
            font-weight: 800;
            color: $color-main;
            margin-bottom: 20vh;
            span{
                color: $color-third;
                font-weight: 200;
            }
        }

        p{
            color: $color-third;
            padding: 0px 25vw;
            width: auto;
            font-size: 16px;
            font-weight: 400;

        }
    }
}


